body {
    background-color: cadetblue;
    width: 100%;
    float: center;
}

div {
    width: 100%;
    float: center;
}

table {
    padding-left: 20%;
    width: fit-content;
}

th,
tr,
td {
    background-color: darkseagreen;
    text-align: center;
    text-decoration: ;
}

li {
    background-color: burlywood;
}