<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="ang1.css"></link>
</head>

<body ng-controller="myctrl">
    <h3 align="center">Our Top paied Lawyers</h3>
    <div align="center"><span>Rows to display</span><input type="number" step="1" min="0" max="10" ng-model="rowLim" /></div>

    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th ng-click="orderByMe('id')">id<br>
                <input type="text" ng-model="search.id"></th>
            <th ng-click="orderByMe('name')">name <br>
                <input type="text" ng-model="search.name"></th>
            <th ng-click="orderByMe('gender')">gender <br>
                <input type="text" ng-model="search.gender"></th>
            <th>Phone <br>
                <input type="text" ng-model="search.phone"></th>
            <th ng-click="orderByMe('salary')">Payment <br>
                <input type="text" ng-model="search.salary"></th>
        </tr>
        <tr ng-repeat="item in names|orderBy:myOrderBy|filter:search|limitTo:rowLim">
            <td>{{item.id}}</td>
            <td>{{item.name|upperFirst}}</td>
            <td>{{item.gender|uppercase|limitTo:1}}</td>
            <td>{{item.phone}}</td>
            <td>&#8377;{{item.salary|salClass}}</td>
        </tr>
    </table>

</body>
<script>
    //https://prabukiwi1.github.io/Mscds1/employee.json
    var myapp = angular.module("myapp", []);
    myapp.controller("myctrl", function($scope, $http) {
        $http.get('https://christyalex2147215.github.io/24-01-2022_web_stack_2/top_lawyer.json')
            .success(function(response) {
                    $scope.names = response.records;
                    $scope.orderByMe = function(x) {
                        $scope.myOrderBy = x;
                    }
                    $scope.rowLim = 8;
                }

            );
    });
    //filter for upper the first letter of all words
    myapp.filter('upperFirst', function() {
        return function(x) {
            a = x.split(" ");
            var ab = " ";
            for (i = 0; i < a.length; i++) {
                ab = ab + " " + (a[i].charAt(0).toUpperCase() + a[i].slice(1));
            }
            ab = ab.trim();
            return ab;
        }
    });
    //filter for specify the salary classes
    myapp.filter('salClass', function() {
        return function(x) {
            if (x >= 50000 & x <= 100000) {
                return x + " " + "(class-4)"
            } else if (x < 50000 & x >= 30000) {
                return x + " " + "(class-3)"
            } else if (x < 30000 & x >= 15000) {
                return x + " " + "(class-2)"
            } else {
                return x + " " + "(class-1)"
            }
        }
    });
</script>

</html>